/* TODO: GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* TODO: NukeHub icon */
@import url("style.css");

/* TODO: VARIABLES CSS */
:root {
  --header-height: 3rem;

  /*== Colors ==*/

  --hue-color: 5;

  --color: hsl(var(--hue-color), 69%, 61%);
  --color-2: hsl(var(--hue-color), 69%, 61%);
  --color-svg: invert(67%) sepia(60%) saturate(4648%) hue-rotate(324deg)
    brightness(93%) contrast(88%);
  --color-alt: hsl(var(--hue-color), 57%, 53%);
  --color-alt-svg: invert(35%) sepia(34%) saturate(1189%) hue-rotate(318deg)
    brightness(108%) contrast(90%);
  --color-lighter: hsl(var(--hue-color), 80%, 72%);
  --color-lighter-svg: invert(90%) sepia(20%) saturate(1151%) hue-rotate(299deg)
    brightness(95%) contrast(108%);
  --color-danger: rgba(255, 0, 0, 0.8);
  --title-color: hsl(var(--hue-color), 8%, 35%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --logo-svg: invert(0%) sepia(3%) saturate(0%) hue-rotate(235deg)
    brightness(105%) contrast(105%);
  --svg-fill: #000;
  --scroll-bar: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb: hsl(var(--hue-color), 12%, 80%);
  --chart-color: hsl(var(--hue-color), 69%, 61%);
  --chart-color-border: #fff;
  --chart-data-labels-color: var(--text-color);
  --chart-hover-background-color: rgba(0, 0, 0, 0.1);
  --theme-button: #444;
  --opacity-color-01: rgba(0, 0, 0, 0.001);
  --opacity-color-05: rgba(0, 0, 0, 0.005);
  --opacity-color-08: rgba(0, 0, 0, 0.008);
  --opacity-color-10: rgba(0, 0, 0, 0.01);
  --opacity-color-12: rgba(0, 0, 0, 0.012);
  --opacity-color-15: rgba(0, 0, 0, 0.015);
  --opacity-color-20: rgba(0, 0, 0, 0.02);
  --opacity-color-25: rgba(0, 0, 0, 0.025);
  --opacity-color-100: rgba(0, 0, 0, 0.1);
  --opacity-color-200: rgba(0, 0, 0, 0.2);
  --opacity-color-300: rgba(0, 0, 0, 0.3);
  --opacity-color-500: rgba(0, 0, 0, 0.5);
  --opacity-color-05-invert: rgba(255, 255, 255, 0.005);
  --opacity-color-08-invert: rgba(255, 255, 255, 0.008);
  --opacity-color-10-invert: rgba(255, 255, 255, 0.01);
  --opacity-color-12-invert: rgba(255, 255, 255, 0.012);
  --opacity-color-15-invert: rgba(255, 255, 255, 0.015);
  --opacity-color-20-invert: rgba(255, 255, 255, 0.02);
  --opacity-color-25-invert: rgba(255, 255, 255, 0.025);

  /*== Font and typography ==*/
  --body-font: "Ubuntu", sans-serif;

  /* 1rem = 16px */
  --big-font: 2rem;
  --h1-font: 1.5rem;
  --h2-font: 1.25rem;
  --h3-font: 1.125rem;
  --normal-font: 0.938rem;
  --small-font: 0.813rem;
  --smallest-font: 0.75rem;

  /*== Font weight ==*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*== Margenes Bottom ==*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*== z index ==*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-model: 1000;
}

/*==Font size for large reactors==*/

@media screen and (min-width: 968px) {
  :root {
    --big-font: 3rem;
    --h1-font: 2.25rem;
    --h2-font: 1.5rem;
    --h3-font: 1.25rem;
    --normal-font: 1rem;
    --small-font: 0.875rem;
    --smaller-font: 0.813rem;
  }
}

/* TODO: Change Theme */
body.dark-theme {
  /*== Colors ==*/
  --color: hsl(var(--hue-color), 69%, 61%);
  --color-2: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --logo-svg: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg)
    brightness(110%) contrast(110%);
  --color-alt: hsl(var(--hue-color), 57%, 53%);
  --color-alt-svg: invert(41%) sepia(65%) saturate(1248%) hue-rotate(329deg)
    brightness(83%) contrast(89%);
  --color-lighter: hsl(var(--hue-color), 92%, 85%);
  --color-lighter-svg: invert(76%) sepia(21%) saturate(501%) hue-rotate(315deg)
    brightness(101%) contrast(98%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --svg-fill: #fff;
  --scroll-bar: hsl(var(--hue-color), 29%, 16%);
  --scroll-thumb: hsl(var(--hue-color), 12%, 36%);
  --chart-color: #fff;
  --chart-color-border: hsl(var(--hue-color), 30%, 8%);
  --chart-data-labels-color: #fff;
  --chart-hover-background-color: rgba(255, 255, 255, 0.5);
  --theme-button: #fff;
  --opacity-color-01: rgba(255, 255, 255, 0.01);
  --opacity-color-05: rgba(255, 255, 255, 0.05);
  --opacity-color-08: rgba(255, 255, 255, 0.08);
  --opacity-color-10: rgba(255, 255, 255, 0.1);
  --opacity-color-12: rgba(255, 255, 255, 0.12);
  --opacity-color-15: rgba(255, 255, 255, 0.15);
  --opacity-color-20: rgba(255, 255, 255, 0.2);
  --opacity-color-25: rgba(255, 255, 255, 0.25);
  --opacity-color-100: rgba(255, 255, 255, 0.1);
  --opacity-color-200: rgba(255, 255, 255, 0.2);
  --opacity-color-300: rgba(255, 255, 255, 0.3);
  --opacity-color-500: rgba(255, 255, 255, 0.5);
  --opacity-color-05-invert: rgba(0, 0, 0, 0.05);
  --opacity-color-08-invert: rgba(0, 0, 0, 0.08);
  --opacity-color-10-invert: rgba(0, 0, 0, 0.1);
  --opacity-color-12-invert: rgba(0, 0, 0, 0.12);
  --opacity-color-15-invert: rgba(0, 0, 0, 0.15);
  --opacity-color-20-invert: rgba(0, 0, 0, 0.2);
  --opacity-color-25-invert: rgba(0, 0, 0, 0.25);
}

hr {
  border: 1px solid var(--color);
  margin-top: var(--mb-0-25);
  margin-bottom: var(--mb-0-25);
}
.horizontal-line {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color);
  margin-top: var(--mb-0-5);
  margin-bottom: var(--mb-1);
}
.nav_btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
  transition: 0.2s;
}
.change-theme:hover {
  color: var(--color);
  transition: 0.2s;
}

/* TODO: BASE */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  margin: 0 0 var(--header-height) 0;
  background-color: var(--body-color);
  color: var(--text-color);
  user-select: none;
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
p {
  user-select: text;
}
img {
  max-width: 100%;
  max-height: auto;
}
a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.2s;
}
a:hover {
  color: var(--color);
  transition: 0.2s;
}
ul {
  list-style: none;
}
:disabled {
  cursor: not-allowed !important;
}
::selection {
  background: var(--color);
  color: #fff;
  user-select: none;
  cursor: default;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

/* TODO: REUSABLE CSS CLASSES */
.section {
  padding: 2rem 0 4rem;
}
.section_title {
  font-size: var(--h1-font);
}
.section_subtitle {
  display: block;
  font-size: var(--small-font);
  margin-bottom: var(--mb-2);
}
.section_title,
.section_subtitle {
  text-align: center;
}

/* TODO: LOADER */

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--body-color);
  z-index: var(--z-model);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading_image {
  width: 40%;
  max-height: 40%;
  fill: var(--svg-fill);
  justify-self: center;
  animation: loading 1.5s;
  animation-iteration-count: infinite;
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

/* TODO: LAYOUT */

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.header {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: var(--z-fixed);
}
.header_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  top: -15px;
  left: 0;
  z-index: -1;
  filter: blur(10px);
}
.header_bg-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*TODO: NAV */
.nav {
  max-width: 968;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav_logo:hover {
  color: var(--color);
}
.nav_toggle {
  font-size: 1.1rem;
  cursor: pointer;
}
.nav_toggle:hover {
  color: var(--color);
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}
.nav_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid_span {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  grid-column: auto / span 3;
}
.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font);
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav_link:hover {
  color: var(--color);
}
.nav_icon {
  font-size: 1.2rem;
}
.nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color);
}
.nav_close:hover {
  color: var(--color-alt);
}
.show_menu {
  bottom: 0;
}

.active-link {
  color: var(--color);
}
.scroll-header {
  top: -3px;
  filter: blur(2px);
}
/*== Active link ==*/
.active {
  color: var(--color);
}
select {
  color: var(--color);
}
/*TODO: Buttons */
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: var(--normal-font);
  font-weight: var(--font-medium);
  font-family: var(--body-font);
}
.loader {
  border: 2px solid var(--opacity-color-20);
  border-top: 2px solid #fff;
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  animation: spin 2s linear infinite;
}
.loader_go {
  border: 2px solid var(--opacity-color-20);
  border-top: 10px solid #fff;
  border-radius: 50%;
  width: calc(var(--normal-font) * 9);
  height: calc(var(--normal-font) * 9);
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button {
  display: inline-block;
  background-color: var(--color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.button_go {
  display: inline-block;
  background-color: rgba(55, 255, 200, 0.8);
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
  font-size: calc(var(--normal-font) * 7.5);
  transition: 0.3s;
}
.button_go:hover {
  background-color: rgba(55, 255, 200, 0.7);
  transition: 0.3s;
}
.button:hover {
  background-color: var(--color-alt);
  transition: 0.3s;
}
.button_title {
  color: #fff;
  margin-bottom: 1rem;
}
.button_subtitle {
  color: #fff;
  font-size: var(--small-font);
}
.button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}
.button--flex {
  display: inline-flex;
  align-items: center;
}
/*TODO  Color button */
.theme-colors {
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
  gap: 0.25rem;
}
.theme-colors .color {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 1rem;
  height: var(--small-font);
  width: var(--small-font);
  transition: 0.1s;
  cursor: pointer;
}

.theme-colors .color:hover {
  border: 2px solid var(--body-color);
  transition: 0.1s;
}

@media screen and (max-width: 767px) {
  .theme-colors {
    gap: 1rem;
  }
  .theme-colors .color {
    border-radius: 1.2rem;
    height: 1.2rem;
    width: 1.2rem;
  }
}
/*TODO: Box */
.box_container {
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}
.box_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 1rem;
}
.box_content {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 280px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  overflow: hidden !important;
}
.box_content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.box_icon {
  display: block;
  font-size: 1.5rem;
  color: var(--color);
  margin-top: auto;
  margin-bottom: auto;
}
.box_button_icon {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: calc(var(--normal-font) * 10);
  color: #fff;
  opacity: 0.3;
}
.box_header {
  display: flex;
  margin-bottom: 1rem;
}
.box_header_absolute {
  background-color: var(--color);
  color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 0;
  width: 35%;
  outline: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.2rem 0rem;
  text-align: center;
}
.box_header-benchmark {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.box_title {
  font-size: var(--h3-font);
  font-weight: var(--font-medium);
  margin-top: auto;
  margin-bottom: auto;
}
.box_subtitle-content {
  font-size: x-small;
}
.box_content-container {
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  display: grid;
}
.box_subtitle-header {
  margin-top: auto;
  margin-bottom: auto;
}
.box_subtitle-text {
  font-size: var(--small-font);
}
.box_subtitle-header-icon {
  font-size: 2.8rem;
  color: var(--color);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: var(--mb-1);
}
.box_subtitle {
  margin-bottom: var(--mb-1);
  font-size: var(--small-font);
}
.box_subtitle_value {
  background-color: var(--color);
  border-radius: 1rem;
  padding: 0.25rem 1.1rem 0.25rem 1.1rem;
  text-align: center;
  font-weight: var(--font-medium);
  color: #fff;
  margin-bottom: var(--mb-0-5);
  white-space: nowrap;
}
.box_subtitle-gap {
  display: flex;
  justify-content: space-between;
}
.box_sub_content-container {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 3rem;
  display: grid;
}

.box_sub_content-box {
  margin-bottom: var(--mb-0-5);
  white-space: nowrap !important;
}
.box_sub_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--smallest-font);
}
.box_sub_content p {
  margin-bottom: 0.2rem;
}
.box_sub_content-subject {
  font-size: xx-small;
  color: var(--color-lighter);
}
.box_button {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  font-size: var(--small-font);
  background-color: var(--color);
  padding: 0.1rem 0.2rem;
  border-radius: 0.25rem 0;
  color: #fff;
}
.box_button:hover {
  color: #fff;
}
.button--small {
  padding: 0.75rem 1rem;
}
.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--color);
}
.button--link:hover {
  background-color: transparent;
  color: var(--color-alt);
}
.box_button:hover .button_icon {
  transform: translateX(0.25rem);
}
.box_fullscreen {
  position: fixed;
  top: 1%;
  bottom: calc(0.5% + var(--header-height));
  left: 0.5%;
  right: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 1%;
  animation: fullscreen 0.5s;
  animation-iteration-count: 1;
}
@keyframes fullscreen {
  0% {
    right: 30%;
    top: 100%;
    left: 30%;
  }
  100% {
    right: 0.5%;
    left: 0.5%;
    top: 1%;
  }
}
.box_model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.box_model-content {
  position: absolute;
  top: 100%;
  left: 100%;
}
.active-model-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow-y: auto;
  height: 95%;
}
.box_model-status {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  max-height: auto;
  margin-top: 10%;
  margin-bottom: auto;
  padding: 1.25rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  background-color: var(--container-color);
}
.active-model-content::-webkit-scrollbar {
  display: none;
  width: 0;
}
.bg-color-table {
  position: absolute;
  width: 100%;
  height: 85%;
  background-color: var(--container-color);
  opacity: 0.9;
  top: 15%;
  left: 0;
  z-index: -1;
}
.box_model-services {
  row-gap: 1rem;
}
.box_model-service {
  display: flex;
}
.box_model-title {
  font-size: var(--h3-font);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}
.box_model-close {
  position: relative;
  margin-top: 0;
  margin-bottom: auto;
  font-size: 1.5rem;
  color: var(--color);
  cursor: pointer;
}
.box_model-icon {
  color: var(--color);
  margin-right: var(--mb-0-25);
}

.active-model {
  opacity: 1;
  visibility: visible;
}
/* TODO: Swipe */
.swipe_container {
  overflow: initial;
}
.swipe_content {
  padding: 0 1.5rem;
}
.swipe_img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}
.swipe_title {
  font-size: var(--h3-font);
  margin-bottom: var(--mb-0-5);
}
.swipe_description {
  margin-bottom: var(--mb-0-75);
}
.swipe_button:hover .button_icon {
  transform: translateX(0.25rem);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--color);
}
.swiper-button-prev {
  left: -0.5rem;
}
.swiper-button-next {
  right: -0.5rem;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}
.swiper-pagination-bullet-active {
  background-color: var(--color);
}
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

/* TODO: Scroll Up */
.scroll_up {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--color);
  opacity: 0.5;
  padding: 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}
.scroll_up:hover {
  background-color: var(--color-alt);
  opacity: 0.8;
}
.scroll_up-icon {
  font-size: 1.5rem;
  color: var(--color-lighter);
}
.show-scroll {
  bottom: 5rem;
}

/* TODO: Scroll Bar */
::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--scroll-bar);
  border-radius: 0.5rem;
  height: 0.3rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}
/*TODO: Notification */
@keyframes awn-fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes awn-fade-out {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes awn-slide-right {
  0% {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes awn-slide-left {
  0% {
    opacity: 0;
    right: 100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes awn-bar {
  0% {
    right: 100%;
  }
  to {
    right: 0;
  }
}
.errorlist li {
  margin-bottom: 0.5rem;
}
.awn-popup-loading-dots,
.awn-popup-loading-dots:after,
.awn-popup-loading-dots:before {
  animation-fill-mode: both;
  animation: awn-loading-dots 1s ease-in-out infinite;
  background: #fff;
  border-radius: 50%;
  height: 6px;
  width: 6px;
}
.awn-popup-loading-dots {
  animation-delay: -0.16s;
  color: #fff;
  display: inline-block;
  margin-left: 24px;
  position: relative;
}
.awn-popup-loading-dots:after,
.awn-popup-loading-dots:before {
  content: "";
  position: absolute;
  top: 0;
}
.awn-popup-loading-dots:before {
  animation-delay: -0.32s;
  left: -16px;
}
.awn-popup-loading-dots:after {
  left: 16px;
}
@keyframes awn-loading-dots {
  0%,
  80%,
  to {
    box-shadow: 0 0 0 0;
  }
  40% {
    box-shadow: 0 0 0 2px;
  }
}
#awn-popup-wrapper {
  align-items: center;
  animation-fill-mode: both;
  animation-name: awn-fade-in;
  animation-timing-function: ease-out;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  backdrop-filter: blur(8px);
}
#awn-popup-wrapper.awn-hiding {
  animation-name: awn-fade-out;
}
#awn-popup-wrapper .awn-popup-body {
  background: var(--color);
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1rem;
  max-width: 500px;
  min-width: 320px;
  padding: 24px;
  position: relative;
  word-break: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
#awn-popup-wrapper .awn-popup-body.awn-popup-confirm {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#awn-popup-wrapper .awn-popup-body.awn-popup-confirm .fa {
  color: #c26700;
  font-size: 44px;
}
#awn-popup-wrapper .awn-popup-body.awn-popup-async-block {
  background: transparent;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
#awn-popup-wrapper .awn-popup-title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 8px;
  text-transform: uppercase;
}
#awn-popup-wrapper .awn-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
}
#awn-popup-wrapper .awn-buttons .awn-btn {
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  transition: background 0.2s linear;
  width: 45%;
}
#awn-popup-wrapper .awn-buttons-1 .awn-btn {
  width: 100%;
}
#awn-popup-wrapper .awn-buttons .awn-btn-success {
  background: #40871d;
}
#awn-popup-wrapper .awn-buttons .awn-btn-success:hover {
  background: #367218;
}
#awn-popup-wrapper .awn-buttons .awn-btn-cancel {
  background: #1c76a6;
}
#awn-popup-wrapper .awn-buttons .awn-btn-cancel:hover {
  background: #186690;
}
#awn-toast-container {
  bottom: 24px;
  box-sizing: border-box;
  position: fixed;
  right: 24px;
  z-index: 99998;
}
#awn-toast-container.awn-top-left,
#awn-toast-container.awn-top-right {
  bottom: auto;
  top: 4rem;
}
#awn-toast-container.awn-top-left .awn-toast:first-child,
#awn-toast-container.awn-top-right .awn-toast:first-child {
  margin-top: 1px;
}
#awn-toast-container.awn-bottom-left,
#awn-toast-container.awn-top-left {
  left: 24px;
  right: auto;
}
#awn-toast-container.awn-bottom-left .awn-toast,
#awn-toast-container.awn-top-left .awn-toast {
  animation-name: awn-slide-left;
  right: 100%;
}
#awn-toast-container.awn-bottom-left .awn-toast.awn-hiding,
#awn-toast-container.awn-top-left .awn-toast.awn-hiding {
  right: 0;
}
#awn-toast-container.awn-bottom-right .awn-toast,
#awn-toast-container.awn-top-right .awn-toast {
  animation-name: awn-slide-right;
  left: 100%;
}
#awn-toast-container.awn-bottom-right .awn-toast.awn-hiding,
#awn-toast-container.awn-top-right .awn-toast.awn-hiding {
  left: 0;
}
.awn-toast {
  animation-fill-mode: both;
  animation-timing-function: linear;
  border-radius: 0.5rem;
  color: var(--color);
  cursor: pointer;
  font-size: var(--font-medium);
  margin-top: 1rem;
  opacity: 0;
  overflow: hidden;
  position: relative;
  width: 320px;
  border: 2px solid var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.awn-toast-content {
  word-break: break-word;
}
.awn-toast-label {
  color: #fff;
  display: block;
  font-size: var(--h3-font);
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
.awn-toast-icon {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 16px;
  top: 2px;
  font-size: 42px;
}
.awn-toast-icon .fa {
  color: #fff;
  font-size: 44px;
}
.awn-toast-wrapper {
  border-radius: 0.5rem;
  padding: 10px 75px 10px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.awn-toast-progress-bar {
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.awn-toast-progress-bar:after {
  animation-duration: inherit;
  animation-fill-mode: both;
  animation-name: awn-bar;
  animation-timing-function: linear;
  background: #fff;
  content: " ";
  height: 3px;
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
}
.awn-toast.awn-toast-progress-bar-paused .awn-toast-progress-bar:after {
  animation-play-state: paused;
}
.awn-toast.awn-hiding {
  animation-name: awn-fade-out !important;
}
.awn-toast.awn-toast-success {
  background: var(--container-color);
  color: var(--text-color);
}
.awn-toast.awn-toast-success .awn-toast-wrapper {
  border-color: #a7d590;
}
.awn-toast.awn-toast-success .fa,
.awn-toast.awn-toast-success b {
  color: #a2ff73;
}
.awn-toast.awn-toast-success .awn-toast-progress-bar:after {
  background: #a2ff73;
}
.awn-toast.awn-toast-info {
  background: var(--container-color);
  color: var(--text-color);
}
.awn-toast.awn-toast-info .awn-toast-wrapper {
  border-color: #9fd3ef;
}
.awn-toast.awn-toast-info .fa,
.awn-toast.awn-toast-info b {
  color: #307ba3;
}
.awn-toast.awn-toast-info .awn-toast-progress-bar:after {
  background: #307ba3;
}
.awn-toast.awn-toast-alert {
  background: var(--container-color);
  color: var(--text-color);
}
.awn-toast.awn-toast-alert .awn-toast-wrapper {
  border-color: #f0a29d;
}
.awn-toast.awn-toast-alert .fa,
.awn-toast.awn-toast-alert b {
  color: #aa3731;
}
.awn-toast.awn-toast-alert .awn-toast-progress-bar:after {
  background: #aa3731;
}
.awn-toast.awn-toast-warning {
  background: var(--container-color);
  color: var(--text-color);
}
.awn-toast.awn-toast-warning .awn-toast-wrapper {
  border-color: #ffc480;
}
.awn-toast.awn-toast-warning .fa,
.awn-toast.awn-toast-warning b {
  color: #bb7a30;
}
.awn-toast.awn-toast-warning .awn-toast-progress-bar:after {
  background: #bb7a30;
}
[class^="awn-"] {
  box-sizing: border-box;
}
/*TODO: Context Menu */
@-webkit-keyframes cm-spin {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(359deg);
    transform: translateY(-50%) rotate(359deg);
  }
}
@-o-keyframes cm-spin {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
    -o-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(359deg);
    -o-transform: translateY(-50%) rotate(359deg);
    transform: translateY(-50%) rotate(359deg);
  }
}
@keyframes cm-spin {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
    -o-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(359deg);
    -o-transform: translateY(-50%) rotate(359deg);
    transform: translateY(-50%) rotate(359deg);
  }
}

.context-menu-icon::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2em;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #2980b9;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.context-menu-icon.context-menu-hover:before {
  color: #fff;
}

.context-menu-icon.context-menu-disabled::before {
  color: #bbb;
}

.context-menu-icon.context-menu-icon-loading:before {
  -webkit-animation: cm-spin 2s infinite;
  -o-animation: cm-spin 2s infinite;
  animation: cm-spin 2s infinite;
}

.context-menu-icon.context-menu-icon--fa {
  display: list-item;
  font-family: inherit;
  line-height: inherit;
}
.context-menu-icon.context-menu-icon--fa::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2em;
  font-family: FontAwesome;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #2980b9;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.context-menu-icon.context-menu-icon--fa.context-menu-hover:before {
  color: #fff;
}
.context-menu-icon.context-menu-icon--fa.context-menu-disabled::before {
  color: #bbb;
}

.context-menu-icon.context-menu-icon--fa5 {
  display: list-item;
  font-family: inherit;
  line-height: inherit;
}
.context-menu-icon.context-menu-icon--fa5 i,
.context-menu-icon.context-menu-icon--fa5 svg {
  position: absolute;
  top: 0.3em;
  left: 0.5em;
  color: #2980b9;
}
.context-menu-icon.context-menu-icon--fa5.context-menu-hover > i,
.context-menu-icon.context-menu-icon--fa5.context-menu-hover > svg {
  color: #fff;
}
.context-menu-icon.context-menu-icon--fa5.context-menu-disabled i,
.context-menu-icon.context-menu-icon--fa5.context-menu-disabled svg {
  color: #bbb;
}

.context-menu-list {
  position: absolute;
  display: inline-block;
  min-width: 12rem;
  max-width: 24rem;
  padding: 0.5rem 0;
  margin: 0.2rem;
  font-family: inherit;
  font-size: inherit;
  list-style-type: none;
  background: var(--container-color);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.context-menu-item {
  position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.context_menu-icon {
  margin-right: 0.25rem;
  font-weight: 600;
}

.context-menu-separator {
  padding: 0;
  margin: 0.35em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.context-menu-item > label > input,
.context-menu-item > label > textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.context-menu-item.context-menu-hover {
  color: #fff;
  cursor: pointer;
  background-color: var(--color);
}

.context-menu-item.context-menu-disabled {
  color: #bbb;
  cursor: default;
  background-color: #fff;
}

.context-menu-input.context-menu-hover {
  color: #2f2f2f;
  cursor: default;
}

.context-menu-submenu:after {
  position: absolute;
  top: 50%;
  right: 0.5em;
  z-index: 1;
  width: 0;
  height: 0;
  content: "";
  border-color: transparent transparent transparent var(--text-color);
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.25em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.context-menu-submenu.context-menu-hover:after {
  border-color: transparent transparent transparent #fff;
}
/**
 * Inputs
 */
.context-menu-item.context-menu-input {
  padding: 0.3em 0.6em;
}

/* vertically align inside labels */
.context-menu-input > label > * {
  vertical-align: top;
}

/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
  position: relative;
  top: 0.12em;
  margin-right: 0.4em;
}

.context-menu-input > label {
  margin: 0;
}

.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.context-menu-input > label > textarea {
  height: 7em;
}

.context-menu-item > .context-menu-list {
  top: 0.3em;
  /* re-positioned by js */
  right: -0.3em;
  display: none;
}

.context-menu-item.context-menu-visible > .context-menu-list {
  display: block;
}

.context-menu-accesskey {
  text-decoration: underline;
}

/*TODO: Home */
.home_container {
  gap: 1rem;
}
.home_content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}
.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home_social-icon {
  font-size: 1.2rem;
  color: var(--color);
  cursor: pointer;
}
.home_social-icon:hover {
  color: var(--color-alt);
}
.home_nukehub {
  fill: var(--svg-fill);
}
.home_nukehub-circle-light {
  fill: var(--color);
}
.home_nukehub-circle {
  fill: var(--color-alt);
}
.home_nukehub:hover {
  animation: shake 0.5s;
}
.home_nukehub:active {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.home_data {
  grid-column: 1/3;
}
.home_title {
  font-size: var(--big-font);
  margin-bottom: var(--mb-0-75);
}
.home_subtitle {
  font-size: var(--h3-font);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}
.home_description {
  margin-bottom: var(--mb-2);
}

/*TODO: About */
.about_description {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: var(--mb-1);
}
.about_description a {
  color: var(--color);
}
.about_description a:hover {
  text-decoration: underline;
}
/*TODO: Join */
.join_img {
  width: 90%;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
  object-fit: cover;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.join_img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.join_description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.join_buttons {
  display: flex;
  justify-content: center;
}
.button--white {
  background-color: var(--color-lighter);
  color: var(--color);
}
.button--white:hover {
  background-color: #fff;
  transition: 0.3s;
}

/*TODO: Contact */
.contact_container {
  row-gap: 3rem;
}
.contact_information {
  display: flex;
  margin-bottom: var(--mb-2);
}
.contact_icon {
  font-size: 2rem;
  color: var(--color);
  margin-right: var(--mb-0-75);
}
.contact_title {
  font-size: var(--h3-font);
  font-weight: var(--font-medium);
}
.contact_subtitle {
  font-size: var(--small-font);
  color: var(--text-color-light);
}
.contact_content {
  background-color: var(--input-color);
  border: 0.1rem solid var(--text-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}
.contact_input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}
.contact_label {
  font-size: var(--smaller-font);
  color: var(--title-color);
}
textarea {
  resize: vertical;
}

/*TODO: Footer */
.footer {
  padding-top: 2rem;
}
.footer_container {
  grid-template-columns: repeat(2, 1fr);
}
.footer_logo{
  grid-area: auto / span 2;
}
.footer_bg {
  background-color: var(--color);
  padding: 2rem 0 1rem;
}
.footer_title {
  font-size: var(--h1-font);
  margin-bottom: var(--mb-0-25);
}
.footer_subtitle {
  font-size: var(--small-font);
}
.footer_link_title{
  font-size: var(--h4-font);
  margin-bottom: var(--mb-0-25);
}
.footer_links {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  font-size: var(--smallest-font);
}
.footer_link:hover {
  color: var(--color-lighter);
}
.footer_copy {
  font-size: var(--smaller-font);
  text-align: center;
  color: #fff;
  margin-top: var(--mb-3);
}
.footer_title,
.footer_subtitle,
.footer_link_title,
.footer_link,
.footer_social {
  color: #fff;
}
/* TODO: Responsive */
@media screen and (max-width: 410px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav_list {
    column-gap: 0;
  }

  .list_title {
    font-size: var(--normal-font);
  }

  .box_container {
    justify-content: center;
    gap: 0.5rem;
  }

  .box_model {
    padding: 0 0.5rem;
  }
  .home_content {
    grid-template-columns: 0.25fr 3fr;
  }
  .footer_social {
    font-size: 1.2rem;
    margin-right: var(--mb-0-75);
  }
}

@media screen and (min-width: 600px) {
  .home_content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home_data {
    grid-column: initial;
  }
  .home_nukehub {
    width: 320px;
    transform: translateX(0);
  }
  .home_img {
    order: 1;
    justify-self: center;
  }
  .swipe_content {
    border-radius: 1rem;
    grid-template-columns: 1fr;
    backdrop-filter: blur(15px);
  }
  .join_container,
  .join_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .box_container {
    gap: 1rem;
  }
  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer_logo{
    grid-area: auto / span 3;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 5rem 0 2rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer_container {
    padding: 0 1rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav_icon,
  .nav_close,
  .nav_toggle {
    display: none;
  }
  .nav_list {
    display: flex;
    column-gap: 2rem;
  }
  .nav_menu {
    margin-left: auto;
  }
  .show-scroll {
    bottom: 2rem;
    right: 2rem;
  }
  .content {
    margin-left: 4rem;
    transition: 0.3s;
  }
  .content-gap {
    margin-left: 14rem;
    transition: 0.3s;
  }
  .change-theme {
    margin: 0;
  }
  .box_subtitle-header-icon {
    font-size: 3.8rem;
    color: var(--color);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: var(--mb-1);
  }
  .box_container,
  .box_content-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    justify-content: left;
    grid-gap: var(--mb-1);
  }
  .box_fullscreen {
    bottom: 1%;
    left: calc(0.5% + 4rem);
  }
  @keyframes fullscreen {
    0% {
      right: 30%;
      top: 100%;
      left: 30%;
    }
    100% {
      right: 0.5%;
      left: calc(0.5% + 4rem);
      top: 1%;
    }
  }
  .box_fullscreen-gap {
    left: calc(0.5% + 14rem);
  }
  div.box_content-container div.box_subtitle-header {
    grid-column: auto;
  }
  div.box_content-container div.box_sub_content-container {
    grid-column: auto / span 2;
  }
  .sample_box_container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr;
    justify-content: left;
    grid-template-areas:
      "box1 box3 box3"
      "box2 box3 box3"
      "box4 box3 box3"
      "box4 box5 box5";
  }
  .sample_box_container2 {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    justify-content: left;
    grid-gap: var(--mb-1-5);
  }
  #project-box {
    grid-column: auto / span 2;
  }
  #box1 {
    grid-area: box1;
  }
  #box2 {
    grid-area: box2;
  }
  #box3 {
    grid-area: box3;
  }
  #box4 {
    grid-area: box4;
  }
  #box5 {
    grid-area: box5;
  }
  #box6 {
    grid-area: box6;
  }
  #box7 {
    grid-area: box7;
  }
  #box8 {
    grid-area: box8;
  }
  #box9 {
    grid-area: box9;
  }
  #box10 {
    grid-area: box10;
  }
  .box_icon {
    font-size: 2rem;
  }
  .box_content {
    padding: 1rem;
  }
  .select_content {
    padding: 0;
  }
  .swipe_img {
    width: 320px;
  }
  .swipe_content {
    align-items: center;
  }
  .home_container {
    row-gap: 4rem;
  }
  .home_content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home_nukehub {
    width: 360px;
  }
  .join_container {
    column-gap: 5rem;
  }

  .join_description {
    text-align: initial;
  }
  .join_buttons {
    justify-content: initial;
  }
  .footer_bg {
    padding: 3rem 0 1.5rem;
  }
  .footer_copy {
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1024px) and (max-height: 1280px) {
  .header,
  .main,
  .footer_container {
    padding: 0;
  }
  .swipe_content {
    column-gap: 5rem;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }
  .model_caption {
    font-size: 1.25rem;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
  }
  .home_nukehub {
    width: 390px;
  }
  .home_social {
    transform: translateX(-6rem);
  }
  .join_img {
    width: 95%;
  }
  .join_form {
    width: 460px;
  }
  .join_inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) and (min-height: 1280px) {
  .header,
  .main,
  .footer_container {
    padding: 0;
  }
}

/*TODO: Responsive for 2K and 4K*/
@media screen and (min-width: 1900px) {
  body {
    zoom: 1.1;
  }
  .no-zoom {
    zoom: calc(1 / 1.1);
  }
}
@media screen and (min-width: 2800px) {
  body {
    zoom: 1.65;
  }
  .no-zoom {
    zoom: calc(1 / 1.65);
  }
}
@media screen and (min-width: 3800px) {
  body {
    zoom: 2.2;
  }
  .no-zoom {
    zoom: calc(1 / 2.2);
  }
}
/*TODO: Particles JS*/
#particles-js {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100;
  background-color: var(--body-color);
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: blur(4px);
}
