@font-face {
  font-family: 'NukeHub';
  src:  url('fonts/NukeHub.eot?69h7nt');
  src:  url('fonts/NukeHub.eot?69h7nt#iefix') format('embedded-opentype'),
    url('fonts/NukeHub.ttf?69h7nt') format('truetype'),
    url('fonts/NukeHub.woff?69h7nt') format('woff'),
    url('fonts/NukeHub.svg?69h7nt#NukeHub') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'NukeHub' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nuke-nukehub:before {
  content: "\e9b6";
}
.nuke-zoom:before {
  content: "\e9b7";
}
.nuke-book-3:before {
  content: "\e9ae";
}
.nuke-book-2:before {
  content: "\e9af";
}
.nuke-book-1 .path1:before {
  content: "\e9b0";
  color: rgb(0, 0, 0);
}
.nuke-book-1 .path2:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nuke-help-4:before {
  content: "\e9b2";
}
.nuke-help-3:before {
  content: "\e9b3";
}
.nuke-help-2:before {
  content: "\e9b4";
}
.nuke-help-1:before {
  content: "\e9b5";
}
.nuke-nuclear-power-plant-2-remove:before {
  content: "\e9ac";
}
.nuke-nuclear-power-plant-add:before {
  content: "\e9ad";
}
.nuke-clock-2:before {
  content: "\e9aa";
}
.nuke-bell-1:before {
  content: "\e9ab";
}
.nuke-edit-node:before {
  content: "\e900";
}
.nuke-edit-profile:before {
  content: "\e901";
}
.nuke-profile-1:before {
  content: "\e902";
}
.nuke-settings-1:before {
  content: "\e903";
}
.nuke-settings-2:before {
  content: "\e904";
}
.nuke-settings-3:before {
  content: "\e905";
}
.nuke-application:before {
  content: "\e92b";
}
.nuke-break:before {
  content: "\e92c";
}
.nuke-construction1:before {
  content: "\e92d";
}
.nuke-construction-traffic-monochrome:before {
  content: "\e93d";
}
.nuke-device-search:before {
  content: "\e93e";
}
.nuke-fail:before {
  content: "\e93f";
}
.nuke-filter-1:before {
  content: "\e969";
}
.nuke-filter-2:before {
  content: "\e96a";
}
.nuke-group:before {
  content: "\e96b";
}
.nuke-login-1:before {
  content: "\e96c";
}
.nuke-logout-1:before {
  content: "\e99f";
}
.nuke-merge-cells:before {
  content: "\e9a0";
}
.nuke-power-plant-3:before {
  content: "\e9a1";
}
.nuke-solit-cells:before {
  content: "\e9a2";
}
.nuke-ungroup:before {
  content: "\e9a3";
}
.nuke-signup:before {
  content: "\e920";
}
.nuke-update-1:before {
  content: "\e921";
}
.nuke-update:before {
  content: "\e922";
}
.nuke-map:before {
  content: "\e92a";
}
.nuke-arrow-circle-right-ou:before {
  content: "\e906";
}
.nuke-dashboard-1:before {
  content: "\e907";
}
.nuke-arrow-circle-up-ou:before {
  content: "\e908";
}
.nuke-arrow-ios-back:before {
  content: "\e909";
}
.nuke-arrow-ios-downward:before {
  content: "\e90a";
}
.nuke-arrow-ios-upward:before {
  content: "\e90b";
}
.nuke-arrow-ios-forward:before {
  content: "\e90c";
}
.nuke-expand:before {
  content: "\e90d";
}
.nuke-collapse:before {
  content: "\e90e";
}
.nuke-move:before {
  content: "\e90f";
}
.nuke-arrow-circle-down-ou:before {
  content: "\e910";
}
.nuke-arrow-circle-left-ou:before {
  content: "\e911";
}
.nuke-arrow-back:before {
  content: "\e912";
}
.nuke-arrow-forward:before {
  content: "\e913";
}
.nuke-shield-success:before {
  content: "\e914";
}
.nuke-shield-error:before {
  content: "\e915";
}
.nuke-share-1:before {
  content: "\e916";
}
.nuke-share:before {
  content: "\e917";
}
.nuke-log:before {
  content: "\e918";
}
.nuke-dashboard:before {
  content: "\e919";
}
.nuke-active:before {
  content: "\e91a";
}
.nuke-active--1:before {
  content: "\e91b";
}
.nuke-add:before {
  content: "\e91c";
}
.nuke-add-1:before {
  content: "\e91d";
}
.nuke-alert:before {
  content: "\e91e";
}
.nuke-alert-1:before {
  content: "\e91f";
}
.nuke-alert-2:before {
  content: "\e923";
}
.nuke-atom:before {
  content: "\e924";
}
.nuke-atom-1:before {
  content: "\e925";
}
.nuke-atom-2:before {
  content: "\e926";
}
.nuke-atomic-nuclear-radiation:before {
  content: "\e927";
}
.nuke-bell:before {
  content: "\e928";
}
.nuke-bomb:before {
  content: "\e929";
}
.nuke-bomb-1:before {
  content: "\e92e";
}
.nuke-bomb-grenade:before {
  content: "\e92f";
}
.nuke-bookmark:before {
  content: "\e930";
}
.nuke-bookmark-1:before {
  content: "\e931";
}
.nuke-bookmark-3:before {
  content: "\e932";
}
.nuke-bug:before {
  content: "\e933";
}
.nuke-bug-1:before {
  content: "\e934";
}
.nuke-call:before {
  content: "\e935";
}
.nuke-call-1:before {
  content: "\e936";
}
.nuke-cell-tower:before {
  content: "\e937";
}
.nuke-chart-1:before {
  content: "\e938";
}
.nuke-chart-2:before {
  content: "\e939";
}
.nuke-chart-3:before {
  content: "\e93a";
}
.nuke-chat-1:before {
  content: "\e93b";
}
.nuke-chat-2:before {
  content: "\e93c";
}
.nuke-clock:before {
  content: "\e940";
}
.nuke-clock-1:before {
  content: "\e941";
}
.nuke-code:before {
  content: "\e942";
}
.nuke-compass:before {
  content: "\e943";
}
.nuke-construction:before {
  content: "\e944";
}
.nuke-construction-1:before {
  content: "\e945";
}
.nuke-construction-2:before {
  content: "\e946";
}
.nuke-construction-3:before {
  content: "\e947";
}
.nuke-contacts:before {
  content: "\e948";
}
.nuke-cpu:before {
  content: "\e949";
}
.nuke-database:before {
  content: "\e94a";
}
.nuke-database-1:before {
  content: "\e94b";
}
.nuke-database-2:before {
  content: "\e94c";
}
.nuke-document:before {
  content: "\e94d";
}
.nuke-download-1:before {
  content: "\e94e";
}
.nuke-edit:before {
  content: "\e94f";
}
.nuke-electric-tower:before {
  content: "\e950";
}
.nuke-error:before {
  content: "\e951";
}
.nuke-error-1:before {
  content: "\e952";
}
.nuke-eye:before {
  content: "\e953";
}
.nuke-gallery:before {
  content: "\e954";
}
.nuke-gallery-1:before {
  content: "\e955";
}
.nuke-gauge:before {
  content: "\e956";
}
.nuke-gauge-1:before {
  content: "\e957";
}
.nuke-gear:before {
  content: "\e958";
}
.nuke-gear-1:before {
  content: "\e959";
}
.nuke-gear-2:before {
  content: "\e95a";
}
.nuke-gear-3:before {
  content: "\e95b";
}
.nuke-settings-4:before {
  content: "\e95c";
}
.nuke-github:before {
  content: "\e95d";
}
.nuke-github-1:before {
  content: "\e95e";
}
.nuke-idea:before {
  content: "\e95f";
}
.nuke-idea-1:before {
  content: "\e960";
}
.nuke-info-3:before {
  content: "\e961";
}
.nuke-internet:before {
  content: "\e962";
}
.nuke-internet-1:before {
  content: "\e963";
}
.nuke-internet-2:before {
  content: "\e964";
}
.nuke-loading-1:before {
  content: "\e965";
}
.nuke-location:before {
  content: "\e966";
}
.nuke-location-1:before {
  content: "\e967";
}
.nuke-location-2:before {
  content: "\e968";
}
.nuke-login:before {
  content: "\e96d";
}
.nuke-loguot:before {
  content: "\e96e";
}
.nuke-love:before {
  content: "\e96f";
}
.nuke-love-solid:before {
  content: "\e970";
}
.nuke-mail-1:before {
  content: "\e971";
}
.nuke-map-1:before {
  content: "\e972";
}
.nuke-map-2:before {
  content: "\e973";
}
.nuke-map-3:before {
  content: "\e974";
}
.nuke-map-4:before {
  content: "\e975";
}
.nuke-moon:before {
  content: "\e976";
}
.nuke-news:before {
  content: "\e977";
}
.nuke-notification-1:before {
  content: "\e978";
}
.nuke-nuclear-equipment:before {
  content: "\e979";
}
.nuke-nuclear-equipment-1:before {
  content: "\e97a";
}
.nuke-power-plant-1:before {
  content: "\e97b";
}
.nuke-power-plant-2:before {
  content: "\e97c";
}
.nuke-nuclear-symbol:before {
  content: "\e97d";
}
.nuke-oil-tower:before {
  content: "\e97e";
}
.nuke-paper-plane:before {
  content: "\e97f";
}
.nuke-pdf:before {
  content: "\e980";
}
.nuke-pen:before {
  content: "\e981";
}
.nuke-pie-chart:before {
  content: "\e982";
}
.nuke-pin:before {
  content: "\e983";
}
.nuke-plant:before {
  content: "\e984";
}
.nuke-plot:before {
  content: "\e985";
}
.nuke-power:before {
  content: "\e986";
}
.nuke-power-1:before {
  content: "\e987";
}
.nuke-power-2:before {
  content: "\e988";
}
.nuke-power-unit:before {
  content: "\e989";
}
.nuke-print:before {
  content: "\e98a";
}
.nuke-print-1:before {
  content: "\e98b";
}
.nuke-profile:before {
  content: "\e98c";
}
.nuke-qr-code:before {
  content: "\e98d";
}
.nuke-radio-tower-1:before {
  content: "\e98e";
}
.nuke-reload:before {
  content: "\e98f";
}
.nuke-researchgate:before {
  content: "\e990";
}
.nuke-researchgate-2:before {
  content: "\e991";
}
.nuke-send-1:before {
  content: "\e992";
}
.nuke-send-2:before {
  content: "\e993";
}
.nuke-shield:before {
  content: "\e994";
}
.nuke-shield-1:before {
  content: "\e995";
}
.nuke-shop:before {
  content: "\e996";
}
.nuke-sleep:before {
  content: "\e997";
}
.nuke-success:before {
  content: "\e998";
}
.nuke-success-1:before {
  content: "\e999";
}
.nuke-success-2:before {
  content: "\e99a";
}
.nuke-sun:before {
  content: "\e99b";
}
.nuke-target:before {
  content: "\e99c";
}
.nuke-thermometer:before {
  content: "\e99d";
}
.nuke-thermometer-1:before {
  content: "\e99e";
}
.nuke-tower-crane:before {
  content: "\e9a4";
}
.nuke-trash-1:before {
  content: "\e9a5";
}
.nuke-variable-power-plant:before {
  content: "\e9a6";
}
.nuke-iaea:before {
  content: "\e9a7";
}
.nuke-iaea1:before {
  content: "\e9a8";
}
.nuke-nuclear-radiation:before {
  content: "\e9a9";
}
.nuke-arrow-up-left-2:before {
  content: "\ea39";
}
.nuke-arrow-up-2:before {
  content: "\ea3a";
}
.nuke-arrow-up-right-2:before {
  content: "\ea3b";
}
.nuke-arrow-down-right-2:before {
  content: "\ea3d";
}
.nuke-arrow-down-2:before {
  content: "\ea3e";
}
.nuke-arrow-down-left-2:before {
  content: "\ea3f";
}
