---
layout: base
title: Home
permalink: /
---

<!--========== Home ==========-->
<section class="home section" id="home">
  <div class="home_container container grid">
    <div class="home_content grid">
      <div class="home_social">
        <a href="https://github.com/nukehub-dev/" target="_blank">
          <i class="nuke-github-1 home_social-icon"></i>
        </a>
        <div class="home_social-icon">
          <i class="nuke-share"></i>
          <script>
            document.querySelector('.nuke-share').addEventListener('click', function () {
              if (navigator.share) {
                navigator.share({
                  title: document.title,
                  url: window.location.href
                }).then(() => console.log('Successful share'))
                  .catch((error) => notifier.info('Error sharing', error));
              } else {
                navigator.clipboard.writeText(window.location.href)
                  .then(() => { notifier.success('Link copied to clipboard'); })
                  .catch((error) => { notifier.alert('Error copying link to clipboard', error); });
              }
            });                       
          </script>
        </div>
        <a href="https://talk.nukehub.org" target="_blank" class="home_social-icon">
          <i class="nuke-send-1"></i>
        </a>
      </div>
      <div class="home_img">
        {% include svg.html class="home_nukehub" %}
      </div>
      <div class="home_data">
        <h3 class="home_subtitle">Introducing</h3>
        <h1 class="home_title">NukeHub</h1>
        <p class="home_description">
          A pioneering platform dedicated to the exploration and advancement
          of nuclear technology. Our mission is to foster a community of innovators,
          enthusiasts, and professionals who are passionate about nuclear technology.
        </p>
      </div>
    </div>
  </div>
</section>

<!--========== Research and development ==========-->
<section class="project section" id="projects">
  <h2 class="section_title">Projects</h2>
  <span class="section_subtitle">Research and Development</span>
  {% include project-box.html %}
</section>

<!--========== Join ==========-->
<section class="join section" id="join">
  <h2 class="section_title">Join with Us</h2>
  <span class="section_subtitle">Let's Dive into the Nuclear Universe Together</span>
  <div class="about_container container grid">
    <img src="assets/images/nuketalk.png" alt="NukeTalk Logo" style="filter:var(--color-svg);" class="about_img" />
    <div class="about_data">
      <p class="about_description">
        Ignite your passion for nuclear science & engineering.
        Join the conversation, share knowledge, and explore the
        atomic world with experts.
      </p>
      <div class="about_buttons">
        <a target="_blank" href="https://talk.nukehub.org" class="button button--flex">
          Join <i class="nuke-arrow-ios-forward button_icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>