<!--========== Footer ==========-->
<footer class="footer">
    <div class="footer_bg">
        <div class="footer_container container grid">
            <div class="footer_logo">
                <h1 class="footer_title">
                    <i class="nuke-nukehub"></i>
                    NukeHub
                </h1>
                <span class="footer_subtitle">Empowering Nuclear Innovation</span>
            </div>
            {% for obj in site.data.footer %}
            <div>
                <h3 class="footer_link_title">{{ obj.title }}</h3>
                <ul class="footer_links">
                    {% for child in obj.children %}
                    <li>
                        <a href="{{ child.url }}" class="footer_link"
                            {% if obj.newpage %} target="_blank" rel="noopener noreferrer" {% endif %}>
                            {{ child.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <p class="footer_copy">&#169; {{site.time | date: '%Y' }} NukeHub. All right reserved</p>
    </div>
</footer>