<!--========== Box ==========-->
<div class="box_container container grid">
    {% for obj in site.data.projects %}
    <a target="_blank" href="{{ obj.url }}" class="box_content" id="project{{ forloop.index }}">
        <div class="box_bg"></div>
        <div>
            <div class="box_header">
                <h3 class="box_title">{{ obj.title }}</h3>
            </div>
            <p class="box_subtitle">{{ obj.description }}</p>
            <div  class="box_button button--flex">
                Try <i class="nuke-arrow-ios-forward button_icon"></i>
            </div>
        </div>
        <script>
            $(function () {
                $.contextMenu({
                    selector: "#project{{ forloop.index }}",
                    callback: function (key, options) {
                        var m = "clicked: " + key;
                    },
                    animation: {
                        duration: 200,
                        show: "fadeIn",
                        hide: "fadeOut",
                    },
                    zIndex: 10000,
                    items: {
                        "url": {
                            name: "Try {{obj.title}}",
                            isHtmlName: true,
                            callback: function (key, options) {
                                window.location.href = "tel:{{ obj.url }}";
                            },
                        },
                        "source": {
                            name: "Source Code",
                            isHtmlName: true,
                            callback: function (key, options) {
                                window.location.href = "{{ obj.source }}";
                            }
                        },
                    },
                });
            });
        </script>
    </a>
    {% endfor %}
</div>