@font-face {
  font-family: 'ATC';
  src:  url('fonts/ATC.eot?vlu9m1');
  src:  url('fonts/ATC.eot?vlu9m1#iefix') format('embedded-opentype'),
    url('fonts/ATC.ttf?vlu9m1') format('truetype'),
    url('fonts/ATC.woff?vlu9m1') format('woff'),
    url('fonts/ATC.svg?vlu9m1#ATC') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ATC' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.atc-nrms:before {
  content: "\e9b6";
}
.atc-zoom:before {
  content: "\e9b7";
}
.atc-book-3:before {
  content: "\e9ae";
}
.atc-book-2:before {
  content: "\e9af";
}
.atc-book-1 .path1:before {
  content: "\e9b0";
  color: rgb(0, 0, 0);
}
.atc-book-1 .path2:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.atc-help-4:before {
  content: "\e9b2";
}
.atc-help-3:before {
  content: "\e9b3";
}
.atc-help-2:before {
  content: "\e9b4";
}
.atc-help-1:before {
  content: "\e9b5";
}
.atc-nuclear-power-plant-2-remove:before {
  content: "\e9ac";
}
.atc-nuclear-power-plant-add:before {
  content: "\e9ad";
}
.atc-clock-2:before {
  content: "\e9aa";
}
.atc-bell-1:before {
  content: "\e9ab";
}
.atc-edit-node:before {
  content: "\e900";
}
.atc-edit-profile:before {
  content: "\e901";
}
.atc-profile-1:before {
  content: "\e902";
}
.atc-settings-1:before {
  content: "\e903";
}
.atc-settings-2:before {
  content: "\e904";
}
.atc-settings-3:before {
  content: "\e905";
}
.atc-application:before {
  content: "\e92b";
}
.atc-break:before {
  content: "\e92c";
}
.atc-construction1:before {
  content: "\e92d";
}
.atc-construction-traffic-monochrome:before {
  content: "\e93d";
}
.atc-device-search:before {
  content: "\e93e";
}
.atc-fail:before {
  content: "\e93f";
}
.atc-filter-1:before {
  content: "\e969";
}
.atc-filter-2:before {
  content: "\e96a";
}
.atc-group:before {
  content: "\e96b";
}
.atc-login-1:before {
  content: "\e96c";
}
.atc-logout-1:before {
  content: "\e99f";
}
.atc-merge-cells:before {
  content: "\e9a0";
}
.atc-power-plant-3:before {
  content: "\e9a1";
}
.atc-solit-cells:before {
  content: "\e9a2";
}
.atc-ungroup:before {
  content: "\e9a3";
}
.atc-signup:before {
  content: "\e920";
}
.atc-update-1:before {
  content: "\e921";
}
.atc-update:before {
  content: "\e922";
}
.atc-map:before {
  content: "\e92a";
}
.atc-arrow-circle-right-ou:before {
  content: "\e906";
}
.atc-dashboard-1:before {
  content: "\e907";
}
.atc-arrow-circle-up-ou:before {
  content: "\e908";
}
.atc-arrow-ios-back:before {
  content: "\e909";
}
.atc-arrow-ios-downward:before {
  content: "\e90a";
}
.atc-arrow-ios-upward:before {
  content: "\e90b";
}
.atc-arrow-ios-forward:before {
  content: "\e90c";
}
.atc-expand:before {
  content: "\e90d";
}
.atc-collapse:before {
  content: "\e90e";
}
.atc-move:before {
  content: "\e90f";
}
.atc-arrow-circle-down-ou:before {
  content: "\e910";
}
.atc-arrow-circle-left-ou:before {
  content: "\e911";
}
.atc-arrow-back:before {
  content: "\e912";
}
.atc-arrow-forward:before {
  content: "\e913";
}
.atc-shield-success:before {
  content: "\e914";
}
.atc-shield-error:before {
  content: "\e915";
}
.atc-share-1:before {
  content: "\e916";
}
.atc-share:before {
  content: "\e917";
}
.atc-log:before {
  content: "\e918";
}
.atc-dashboard:before {
  content: "\e919";
}
.atc-active:before {
  content: "\e91a";
}
.atc-active--1:before {
  content: "\e91b";
}
.atc-add:before {
  content: "\e91c";
}
.atc-add-1:before {
  content: "\e91d";
}
.atc-alert:before {
  content: "\e91e";
}
.atc-alert-1:before {
  content: "\e91f";
}
.atc-alert-2:before {
  content: "\e923";
}
.atc-atom:before {
  content: "\e924";
}
.atc-atom-1:before {
  content: "\e925";
}
.atc-atom-2:before {
  content: "\e926";
}
.atc-atomic-nuclear-radiation:before {
  content: "\e927";
}
.atc-bell:before {
  content: "\e928";
}
.atc-bomb:before {
  content: "\e929";
}
.atc-bomb-1:before {
  content: "\e92e";
}
.atc-bomb-grenade:before {
  content: "\e92f";
}
.atc-bookmark:before {
  content: "\e930";
}
.atc-bookmark-1:before {
  content: "\e931";
}
.atc-bookmark-3:before {
  content: "\e932";
}
.atc-bug:before {
  content: "\e933";
}
.atc-bug-1:before {
  content: "\e934";
}
.atc-call:before {
  content: "\e935";
}
.atc-call-1:before {
  content: "\e936";
}
.atc-cell-tower:before {
  content: "\e937";
}
.atc-chart-1:before {
  content: "\e938";
}
.atc-chart-2:before {
  content: "\e939";
}
.atc-chart-3:before {
  content: "\e93a";
}
.atc-chat-1:before {
  content: "\e93b";
}
.atc-chat-2:before {
  content: "\e93c";
}
.atc-clock:before {
  content: "\e940";
}
.atc-clock-1:before {
  content: "\e941";
}
.atc-code:before {
  content: "\e942";
}
.atc-compass:before {
  content: "\e943";
}
.atc-construction:before {
  content: "\e944";
}
.atc-construction-1:before {
  content: "\e945";
}
.atc-construction-2:before {
  content: "\e946";
}
.atc-construction-3:before {
  content: "\e947";
}
.atc-contacts:before {
  content: "\e948";
}
.atc-cpu:before {
  content: "\e949";
}
.atc-database:before {
  content: "\e94a";
}
.atc-database-1:before {
  content: "\e94b";
}
.atc-database-2:before {
  content: "\e94c";
}
.atc-document:before {
  content: "\e94d";
}
.atc-download-1:before {
  content: "\e94e";
}
.atc-edit:before {
  content: "\e94f";
}
.atc-electric-tower:before {
  content: "\e950";
}
.atc-error:before {
  content: "\e951";
}
.atc-error-1:before {
  content: "\e952";
}
.atc-eye:before {
  content: "\e953";
}
.atc-gallery:before {
  content: "\e954";
}
.atc-gallery-1:before {
  content: "\e955";
}
.atc-gauge:before {
  content: "\e956";
}
.atc-gauge-1:before {
  content: "\e957";
}
.atc-gear:before {
  content: "\e958";
}
.atc-gear-1:before {
  content: "\e959";
}
.atc-gear-2:before {
  content: "\e95a";
}
.atc-gear-3:before {
  content: "\e95b";
}
.atc-settings-4:before {
  content: "\e95c";
}
.atc-github:before {
  content: "\e95d";
}
.atc-github-1:before {
  content: "\e95e";
}
.atc-idea:before {
  content: "\e95f";
}
.atc-idea-1:before {
  content: "\e960";
}
.atc-info-3:before {
  content: "\e961";
}
.atc-internet:before {
  content: "\e962";
}
.atc-internet-1:before {
  content: "\e963";
}
.atc-internet-2:before {
  content: "\e964";
}
.atc-loading-1:before {
  content: "\e965";
}
.atc-location:before {
  content: "\e966";
}
.atc-location-1:before {
  content: "\e967";
}
.atc-location-2:before {
  content: "\e968";
}
.atc-login:before {
  content: "\e96d";
}
.atc-loguot:before {
  content: "\e96e";
}
.atc-love:before {
  content: "\e96f";
}
.atc-love-solid:before {
  content: "\e970";
}
.atc-mail-1:before {
  content: "\e971";
}
.atc-map-1:before {
  content: "\e972";
}
.atc-map-2:before {
  content: "\e973";
}
.atc-map-3:before {
  content: "\e974";
}
.atc-map-4:before {
  content: "\e975";
}
.atc-moon:before {
  content: "\e976";
}
.atc-news:before {
  content: "\e977";
}
.atc-notification-1:before {
  content: "\e978";
}
.atc-nuclear-equipment:before {
  content: "\e979";
}
.atc-nuclear-equipment-1:before {
  content: "\e97a";
}
.atc-power-plant-1:before {
  content: "\e97b";
}
.atc-power-plant-2:before {
  content: "\e97c";
}
.atc-nuclear-symbol:before {
  content: "\e97d";
}
.atc-oil-tower:before {
  content: "\e97e";
}
.atc-paper-plane:before {
  content: "\e97f";
}
.atc-pdf:before {
  content: "\e980";
}
.atc-pen:before {
  content: "\e981";
}
.atc-pie-chart:before {
  content: "\e982";
}
.atc-pin:before {
  content: "\e983";
}
.atc-plant:before {
  content: "\e984";
}
.atc-plot:before {
  content: "\e985";
}
.atc-power:before {
  content: "\e986";
}
.atc-power-1:before {
  content: "\e987";
}
.atc-power-2:before {
  content: "\e988";
}
.atc-power-unit:before {
  content: "\e989";
}
.atc-print:before {
  content: "\e98a";
}
.atc-print-1:before {
  content: "\e98b";
}
.atc-profile:before {
  content: "\e98c";
}
.atc-qr-code:before {
  content: "\e98d";
}
.atc-radio-tower-1:before {
  content: "\e98e";
}
.atc-reload:before {
  content: "\e98f";
}
.atc-researchgate:before {
  content: "\e990";
}
.atc-researchgate-1:before {
  content: "\e991";
}
.atc-send-1:before {
  content: "\e992";
}
.atc-send-2:before {
  content: "\e993";
}
.atc-shield:before {
  content: "\e994";
}
.atc-shield-1:before {
  content: "\e995";
}
.atc-shop:before {
  content: "\e996";
}
.atc-sleep:before {
  content: "\e997";
}
.atc-success:before {
  content: "\e998";
}
.atc-success-1:before {
  content: "\e999";
}
.atc-success-2:before {
  content: "\e99a";
}
.atc-sun:before {
  content: "\e99b";
}
.atc-target:before {
  content: "\e99c";
}
.atc-thermometer:before {
  content: "\e99d";
}
.atc-thermometer-1:before {
  content: "\e99e";
}
.atc-tower-crane:before {
  content: "\e9a4";
}
.atc-trash-1:before {
  content: "\e9a5";
}
.atc-variable-power-plant:before {
  content: "\e9a6";
}
.atc-iaea:before {
  content: "\e9a7";
}
.atc-iaea1:before {
  content: "\e9a8";
}
.atc-nuclear-radiation:before {
  content: "\e9a9";
}
.atc-arrow-up-left-2:before {
  content: "\ea39";
}
.atc-arrow-up-2:before {
  content: "\ea3a";
}
.atc-arrow-up-right-2:before {
  content: "\ea3b";
}
.atc-arrow-down-right-2:before {
  content: "\ea3d";
}
.atc-arrow-down-2:before {
  content: "\ea3e";
}
.atc-arrow-down-left-2:before {
  content: "\ea3f";
}
