---
nav:
  - title: Home
    icon: nuke-news
    url: /#home
  - title: Projects
    icon: nuke-nuclear-equipment
    url: /#projects
  - title: Join
    icon: nuke-profile
    url: /#join
  - title: About
    icon: nuke-document
    url: /about
projects:
  - title: NRMS
    description: Nuclear Reactor Monitoring System (NRMS) provides the user with the ability to access the PRIS database and visualize the data in a user-friendly manner.
    url: https://nrms.nukehub.org
    newpage: true
  - title: NukeAnalytics
    description: Make use of the PRIS database to analyze the data using SQL Lab and generate charts and dashboards.
    url: https://analytics.nukehub.org
    newpage: true
  - title: NukeLab
    description: Run nuclear physics simulations and analyses effortlessly in the cloud. Access anytime, anywhere, and collaborate seamlessly with peers.
    url: https://lab.nukehub.org
    newpage: true
  - title: NukeBox
    description: A package manager specifically crafted to simplify the installation and management of vital packages and libraries required for nuclear physics simulations and analyses.
    url: https://nukebox.readthedocs.io/
    newpage: true
social:
  - title: GitHub
    url: https://github.com/nukehub-dev/
    newpage: true
  - title: NukeTalk
    url: https://talk.nukehub.org
    newpage: true
---


<!DOCTYPE html>
<html lang="en" oncontextmenu="return false">

<head>
  <title>{{ site.title }} {% if page.title %}| {{ page.title }}{% endif %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="A pioneering platform dedicated to the exploration and advancement of nuclear technology. Our mission is to foster a community of innovators, enthusiasts, and professionals who are passionate about nuclear technology." />
  <link rel="icon" href="assets/images/nukehub.svg" />
  <!--========== CSS ==========-->
  <link rel="stylesheet" href="css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/nukehub.min.css" />
  <!--========== JS ==========-->
  <script src="js/jquery-3.7.1.min.js"></script>
  <script src="js/index.var.js"></script>
</head>

<body onload="PreLoad()" id="body">
  <!--========== Preloader ==========-->
  <div id="loading">
    {% include svg.html  class="loading_image" %}
  </div>
  {% include header.html %}
  <!--========== Main ==========-->
  <main class="main">
    {{ content }}
  </main>
  {% include footer.html %}
  <div id="particles-js"></div>
  <!--========== Scroll Up ==========-->
  <a href="#" class="scroll_up" id="scroll-up">
    <i class="nuke-arrow-up-2 scroll_up-icon"></i>
  </a>
  <!--========== JS ==========-->
  <script src="js/scrollreveal.min.js"></script>
  <script src="js/swiper-bundle.min.js"></script>
  <script src="js/particles.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>