<!DOCTYPE html>
<html lang="en" oncontextmenu="return false">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="{{ site.url }}{{ page.permalink }}" />
    <link rel="icon" type="image/svg+xml" href="{{ site.url }}/assets/images/nukehub.svg" />
    <meta name="title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ site.title }}",
        "image": "{{ site.url }}/assets/images/nukehub.png",
        "url": "{{ site.url }}"
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "{{ site.title }}",
        "description": "{{ site.description }}",
        "url": "{{ site.url }}",
        "logo": "{{ site.url }}/assets/images/nukehub.svg",
        "foundingDate": "2023",
        "founders": [
          {
            "@type": "Person",
            "name": "Ahnaf Tahmid Chowdhury"
          }
        ],
        "email": "{{ site.email }}",
        "sameAs": [
          "https://github.com/nukehub-dev",
          "https://linkedin.com/company/nukehub/"
        ]
      }
    </script>
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.permalink }}">
    <meta property="og:image" content="{{ site.url }}/assets/images/nukehub.png">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% endif %}
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
    <meta name="theme-color" content="#000000">
    <!--========== CSS ==========-->
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/nukehub.min.css" />
    <!--========== JS ==========-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/index.var.js"></script>
  </head>

  <body onload="PreLoad()" id="body">
    <!--========== Preloader ==========-->
    <div id="loading" class="no-zoom">
      {% include svg.html class="loading_image" %}
    </div>
    {% include header.html %}
    <!--========== Main ==========-->
    <main class="main">
      {{ content }}
    </main>
    {% include footer.html %}
    <div id="particles-js"></div>
    <!--========== Scroll Up ==========-->
    <a href="#" class="scroll_up" id="scroll-up">
      <i class="nuke-arrow-up-2 scroll_up-icon"></i>
    </a>
    <!--========== JS ==========-->
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>